.art-about {
  position: relative;
  color: #a3a3a3;
  font-family: Helvetica Neue, Helvetica, Arial, serif;
  font-size: 1.5em;
  width: 40vw;
  height: 40vh;
  left: 30vw;
  top: 20vh; }

.art-footer {
  background-color: darkblue;
  color: white;
  text-align: center;
  height: 5vw;
  line-height: 5vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.art-gallery {
  background-color: #000000;
  height: 100vh;
  overflow-y: auto; }
  .art-gallery .hidden {
    display: none; }

.art-gallery-showcase {
  display: flex;
  background-color: #000000;
  padding: 20px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center; }
  .art-gallery-showcase h1 {
    color: white;
    text-align: center; }
  .art-gallery-showcase .art-gallery-category {
    position: relative;
    top: calc((100vh - 10vw)/2.5);
    min-width: 100px;
    min-height: 100px;
    width: 10vw;
    height: 10vw;
    background-color: darkgrey;
    overflow: hidden;
    margin: 2vw;
    cursor: pointer; }
    .art-gallery-showcase .art-gallery-category img {
      width: 10vw;
      transition: all 2s; }
    .art-gallery-showcase .art-gallery-category figcaption {
      color: white;
      position: absolute;
      width: 100%;
      font-size: 2vw;
      opacity: 0.8;
      bottom: 1vw; }
      .art-gallery-showcase .art-gallery-category figcaption:hover {
        opacity: 0.5;
        text-shadow: 1px 1px 5px white; }

.art-gallery-images {
  display: flex; }
  .art-gallery-images .art-gallery-thumb {
    width: 30vw;
    height: 30vw;
    background-color: #0D3349;
    margin: 0;
    position: relative;
    overflow: hidden; }
    .art-gallery-images .art-gallery-thumb:hover {
      cursor: pointer;
      opacity: 0.8; }
      .art-gallery-images .art-gallery-thumb:hover .captionCnt {
        bottom: 0; }
    .art-gallery-images .art-gallery-thumb .captionCnt {
      height: 7em;
      background-color: black;
      opacity: 0.5;
      position: absolute;
      bottom: -8em;
      left: 0;
      right: 0;
      transition: 0.5s ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: left;
      padding: 1em; }
      .art-gallery-images .art-gallery-thumb .captionCnt span {
        color: white;
        font-family: Helvetica Neue, Helvetica, Arial, serif;
        font-size: 1em; }
        .art-gallery-images .art-gallery-thumb .captionCnt span.caption {
          font-size: 2em;
          line-height: 2em; }
        .art-gallery-images .art-gallery-thumb .captionCnt span.tags {
          display: flex; }
          .art-gallery-images .art-gallery-thumb .captionCnt span.tags .tag {
            display: block;
            height: 1em;
            min-width: 4em;
            border-radius: 0.2em;
            border: 1px solid #cccccc;
            background-color: #444444;
            margin-right: 1em;
            text-decoration: none;
            color: white;
            text-align: center; }

.art-header {
  height: 5vw;
  text-align: center;
  background-color: darkred; }
  .art-header #art-logo {
    height: 5vw;
    cursor: pointer; }
  .art-header .nav {
    color: white;
    font-size: 2vw; }
    .art-header .nav ul {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0; }
    .art-header .nav .breadcrumb {
      display: inline-flex;
      padding: 0.5vw 4vw;
      color: inherit;
      text-decoration: inherit; }
      .art-header .nav .breadcrumb:hover {
        background-color: #3d3a3a; }

/*@import 'header';
@import 'gallery';
@import 'footer';*/
html, body {
  padding: 0;
  margin: 0;
  height: 100% !important;
  width: 100% !important;
  overflow: hidden;
  font-family: Arial, serif;
  font-size: 13px; }

.art-main-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%; }

.browserhappy {
  color: red;
  font-size: 2em;
  text-align: center;
  top: 40vh;
  left: 0;
  right: 0;
  position: absolute; }

.art-modal-popup {
  position: fixed;
  background-color: black;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 100vh;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  top: -2000vh; }
  .art-modal-popup.active {
    display: block;
    opacity: 1;
    bottom: 0;
    transition: 0.5s ease-in-out; }
  .art-modal-popup .art-modal-text {
    width: 100vw;
    font-size: 10vw;
    text-align: center;
    line-height: 100vh;
    display: inline-block;
    background: url(../images/0.jpg) no-repeat 20px 20px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold; }

