@import 'static';

.art-about {
  position: relative;
  color: #a3a3a3;
  font-family: Helvetica Neue, Helvetica, Arial, serif;
  font-size: 1.5em;
  width: 40vw;
  height: 40vh;
  left: 30vw;
  top: 20vh;
}