@import 'static';
.art-footer {
    @media (min-width: $media-desktop-min-width) {
        height: $footer-height;
        line-height: $footer-height;
    }
    @media (max-width: $media-phone-max-width) {
        height: $footer-height-phone;
        line-height: $footer-height-phone;
    }
    background-color: $footer-bkg-color;
    color: $footer-txt-color;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}