@import 'static';
.art-header {
    @media (min-width: $media-desktop-min-width) {
        min-height: $header-height;
        font-size: $header-text-size;
    }
    @media (max-width: $media-phone-max-width) {
        min-height: $header-height-phone;
        font-size: $header-text-size-phone;
    }
    background-color: $header-bkg-color;
    figure.logo {
        padding: 0;
        margin: 0;
        background: linear-gradient(90deg, black, #413f3f, #413f3f, black);
        #art-logo {
            @media (min-width: $media-desktop-min-width) {
                max-height: $header-height;
            }
            @media (max-width: $media-phone-max-width) {
                max-height: $header-height-phone;
            }
            margin-left: 48vw;
            display: block;
            cursor: pointer;
        }
    }
    .nav {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .breadcrumb {
            display: inline-flex;
            padding: 0.5vw 4vw;
            color: $header-nav-txt-color;
            text-decoration: inherit;
            &:hover {
                background-color: $header-nav-bkg-hover-color;
                color: $header-nav-txt-color-hover;
            }
        }
    }
}