@import 'static';

.art-header {
  padding: 20px;
  text-align: center;
  flex: 1;
  background:
          linear-gradient(
                  rgba(0, 0, 0, 0.45),
                  rgba(0, 0, 0, 0.45)
  ),
  url("../images/logo.jpg") left no-repeat red;
  background-size: contain;

  .nav {
    color: $txt-white;
    font-size: 2vw;

    ul {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      align-items: center;
      list-style: none;
    }

    li {
      display: inline-flex;
    }

    .breadcrumb,
    #about {
      display: block;
      min-width: 4em;
      height: 2em;
      margin: 0 0.5em;
      color: inherit;
      text-decoration: inherit;
      vertical-align: middle;
      line-height: 2em;

      &:hover {
        background-color: $nav-item-bkg-hover;
      }
    }
  }
}