@import 'static';
$header-height: 5vw;
$header-text-size: 2vw;
.art-header {
    flex: 1;
    height: $header-height;
    text-align: center;
    background-color: darkred;
    #art-logo {
        height: $header-height;
        cursor: pointer;
    }
    .nav {
        color: $txt-white;
        font-size: $header-text-size;
        ul {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .breadcrumb {
            display: inline-flex;
            padding: 0.5vw 4vw;
            color: inherit;
            text-decoration: inherit;
            &:hover {
                background-color: $nav-item-bkg-hover;
            }
        }
    }
}