@import 'static';
html,
body {
    padding: 0;
    margin: 0;
    height: 100% !important;
    width: 100% !important;
    font-family: Arial, serif;
    font-size: 13px;
    min-width: 300px;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: $gallery-bkg-color;
}

.art-main-container {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    height: 100%;
}

.browserhappy {
    color: red;
    font-size: 2em;
    text-align: center;
    top: 40vh;
    left: 0;
    right: 0;
    position: absolute;
}