.art-modal-popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
    .content {
        color: white;
        padding-top: 10em;
        font-size: 1.5em;
        h2 {
            font-size: 2em;
            margin: 1em 0;
        }
    }
    .close-btn {
        position: absolute;
        color: grey;
        font-size: 5em;
        right: 0.5em;
        top: 0.5em;
        &:hover {
            cursor: pointer;
            color: white;
        }
    }
}