//-------------------------- BEGIN of Design Guide Block ---------------------------------

$header-bkg: #ff0000;
$nav-item-bkg-hover: #3d3a3a;
$gallery-bkg: #000000;
$footer-bkg: #000000;
$txt-white: white;
$category-caption-txt: white;

//-------------------------- END of Design Guide Block ---------------------------------


