//-------------------------- BEGIN of Design Guide Block ---------------------------------
$header-bkg-color: black;
$header-nav-bkg-hover-color: darkred;
$header-nav-txt-color: #413f3f;
$header-nav-txt-color-hover: black;
$gallery-bkg-color: black;
$footer-bkg-color: darkred;
$footer-txt-color: black;
$category-caption-txt: white;
$header-height: 3em;
$header-height-phone: 2em;
$footer-height: 2em;
$footer-height-phone: 2em;
$header-text-size: 1.5em;
$header-text-size-phone: 1em;
$media-desktop-min-width: 400px;
$media-phone-max-width: 399px;
//-------------------------- END of Design Guide Block ---------------------------------

/*
@media (min-width: $media-desktop-min-width) {
}
@media (max-width: $media-phone-max-width) {
}
*/