//-------------------------- BEGIN of Design Guide Block ---------------------------------
$header-bkg: #ff0000;
$nav-item-bkg-hover: #3d3a3a;
$gallery-bkg: #000000;
$footer-bkg: darkblue;
$txt-white: white;
$category-caption-txt: white;
$header-height: 5vw;
$footer-height: 5vw;
$header-text-size: 2vw;
//-------------------------- END of Design Guide Block ---------------------------------